.container {  
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.7fr 1.6fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". wordLetterConatiner ."
      ". . .";
      background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80);
  }
  
  .wordLetterConatiner {  display: grid;
    grid-template-columns: 1.2fr 0.6fr 1.6fr 0.6fr;
    grid-template-rows: 0.5fr 1.9fr 1.1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: column dense;
    grid-template-areas:
      "letters . . ."
      "letters . Table ."
      ". . Table ."
      ". . . .";
    grid-area: wordLetterConatiner;

  }
  
  .letters {  display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". RandString ."
      ". . .";
    grid-area: letters;
    box-shadow: -1px 5px 15px 5px #000000;
    background: linear-gradient(to bottom, #a3ada0 0%, #909d8c 66%, #849280 100%);
    border: 9px groove #1C6EA4;


  }
  .RandString {
    display: grid; 
    grid-template-columns: 1fr 1.1fr 0.9fr; 
    grid-template-rows: 1.1fr 0.7fr 1.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      "input input input"
      ". button ."; 
    grid-area: RandString; 
    
  }
  .button{
    grid-area: button;
  }
  .input { 
    grid-area: input;
  }

  
  .Table { 
    grid-area: Table; 
    margin-bottom: 5.6rem;

    }


  table#table {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: 6px solid #948473;
    background-color: #FFFB87;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 9px groove #1C6EA4;
    box-shadow: -1px 5px 15px 5px #000000;

  }
  table#table td, table#table th {
    border: 2px solid #020406;
    padding: 7px 7px;
  }
  table.table tbody td {
    font-size: 15px;
  }
  table#table thead {
    background: #849280;
    background: -moz-linear-gradient(top, #a3ada0 0%, #909d8c 66%, #849280 100%);
    background: -webkit-linear-gradient(top, #a3ada0 0%, #909d8c 66%, #849280 100%);
    background: linear-gradient(to bottom, #a3ada0 0%, #909d8c 66%, #849280 100%);
    border-bottom: 2px solid #000000;
  }
  table#table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #151515;
    text-align: left;
    border-left: 2px solid #030100;
  }
  table#table thead th:first-child {
    border-left: none;
  }
  
  table#table tfoot td {
    font-size: 16px;
  }

